---
import Layout from "../layouts/Layout.astro";

const allPosts = await Astro.glob("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);

const sortedPosts = nonDraftPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate);
  const bDate = new Date(b.frontmatter.pubDate);
  return bDate.getTime() - aDate.getTime();
});

const latestPosts = sortedPosts.slice(0, 3);
---

<Layout title="ホーム｜第8回うぃーすた全国交流会">
  <div class="img-frame hero" style="margin-top: -120px;">
      <div class="img-01" style="background-image: url('/images/GtFcDSubkAAeYmu-2.jpg');"></div>
      <div class="img-02" style="background-image: url('/images/GYFsma4b0AMhqPv-2.jpg');"></div>
      <div class="img-03" style="background-image: url('/images/GVPL3lxaEAAgoiI.jpg');"></div>
  </div>
  <!--
  <div class="scroll_down" id="type03">
    <a href="#">Scroll</a>
  </div>
-->
  <div class="margin-contents text-color text-font">
    <div style="height: 30px;"></div>
    <p class="max-xl:text-sm xl:text-base" style="text-align: center;">「第8回うぃーすた全国交流会」を2026年7月18日(土)〜19日(日)に大阪にて開催します！</p>
    <div style="height: 30px;"></div>
    <!--
    <div class="cards-container text-color text-font max-lg:gap-10">
    <a class="card-link">
      <div class="sche-card pic-image">
          <div class="sche-box">
              <div style="height: 8px;"></div>
              <h2 class="card-title">7月18日(<span style="color: #4476ff;">土</span>)</h2>
              <p class="card-description text-start">
                14:00～14:20&emsp;開会式<br>
                14:20～16:20&emsp;グループトーク<br>
                16:30～17:30&emsp;講演<br>
                19:00～21:00&emsp;夕食<br>
                21:00～&emsp;フリータイム<br></p>
          </div>
      </div>
    </a>
    <a class="card-link">
      <div class="sche-card pic-image">
          <div class="sche-box">
              <div style="height: 8px;"></div>
              <h2 class="card-title">7月19日(<span style="color: #ff4444;">日</span>)</h2>
              <p class="card-description text-start">
                7:00〜8:30&emsp;朝食<br>
                9:00～10:00&emsp;マイメッセージ<br>
                10:10～11:10&emsp;クイズ大会<br>
                11:20～11:40&emsp;閉会式<br>
                13:00～&emsp;昼食<br></p>
          </div>
      </div>
    </a>
  </div>
  -->

    <div style="height: 1030px;"></div>
    <span class="midashi mb-4">お知らせ</span>
    <div style="height: 10px;"></div>
    <ul>
      {
        latestPosts.map((post) => (
          <li>
            {post.frontmatter.update ? (
              <div class="update-content">
                <i class="ri-calendar-2-line" />
                <a class="text-sm">{post.frontmatter.date}</a>
                &nbsp;
                <i class="ri-loop-left-line" />
                <a class="text-sm">{post.frontmatter.update}</a>
              </div>
            ) : (
              <div class="no-update-content">
                <i class="ri-calendar-2-line" />
                <a class="text-sm">{post.frontmatter.date}</a>
              </div>
            )}
            <a class="text-base font-medium hover-color" href={post.url}>
              {post.frontmatter.title}
            </a>
            <br />
            <a class="text-base">{post.frontmatter.description}</a>
            <div style="height: 24px;" />
          </li>
        ))
      }
    </ul>
    <br />
    <div class="flex items-center justify-center" style="margin-bottom: 80px;">
      <a href="/posts/1" class="text-sm flex items-center justify-center hover-color"
        >すべて見る&nbsp;<i class="ri-arrow-right-line" style="font-size: 24px;"
        ></i></a
      >
    </div>
  </div>
</Layout>
