---
import Layout from "../layouts/Layout.astro";


const allPosts = await Astro.glob("./posts/*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);

const sortedPosts = nonDraftPosts.sort((a, b) => {
  const aDate = new Date(a.frontmatter.pubDate);
  const bDate = new Date(b.frontmatter.pubDate);
  return bDate.getTime() - aDate.getTime();
});

const latestPosts = sortedPosts.slice(0, 3);

---

<Layout title="第8回うぃーすた全国交流会">
  <a id="contactButton" href="/register/"
  class="fixed lg:right-14 lg:bottom-14 max-lg:right-5 max-lg:bottom-5 lg:w-32 lg:h-32 max-lg:w-24 max-lg:h-24 rounded-full bg-red-700 text-white shadow-xl flex flex-col items-center justify-center z-50
   zen-kaku-gothic-new
  hover:bg-red-800 hover:scale-110 transition-transform transition-all duration-200
  opacity-0 pointer-events-none"
>
<span class="lg:mt-6 max-lg:mt-4 max-lg:text-[12px] max-lg:font-semibold">お申し込みは</span>
<span class="max-lg:text-[12px] max-lg:font-semibold">こちら</span>
<i class="ri-arrow-right-line block lg:text-2xl max-lg:text-xl"></i>
</a>
  <div class="max-lg:h-[300px] lg:h-[500px] mt-[115px]" style="background-image: url('/images/loading.jpeg'); background-size: cover; background-position: center; width: 100%;"></div>
  <!--
  <div class="img-frame hero" style="margin-top: -92px;">
      <div class="img-01" style="background-image: url('/images/GtFcDSubkAAeYmu-2.jpg');"></div>
      <div class="img-02" style="background-image: url('/images/GYFsma4b0AMhqPv-2.jpg');"></div>
      <div class="img-03" style="background-image: url('/images/GVPL3lxaEAAgoiI.jpg');"></div>
  </div>
-->
  <!--
  <div class="scroll_down" id="type03">
    <a href="#">Scroll</a>
  </div>
-->
  <div class="margin-contents text-color zen-kaku-gothic-new" style="padding-bottom: 0rem;">
    <div class="fade-in">
      <div style="height: 40px;"></div>
      <p class="max-xl:text-base xl:text-lg resp-sm-g" style="text-align: center;">「第8回うぃーすた全国交流会」を2026年7月18日(土)〜19日(日)に大阪にて開催します！</p>
      <p class="max-xl:text-base xl:text-lg resp-sm-f" style="text-align: center;">「第8回うぃーすた全国交流会」を<br>2026年7月18日(土)〜19日(日)に<br>大阪にて開催します！</p>
      <div style="height: 30px;"></div>
      <p class="max-xl:text-base xl:text-lg resp-sm-g" style="text-align: center;">吃音のある同年代の仲間たちと悩みや夢を語り合う、かけがえのない時間を過ごしてみませんか？</p>
      <p class="max-xl:text-base xl:text-lg resp-sm-f" style="text-align: center;">吃音のある同年代の仲間たちと<br>悩みや夢を語り合う、<br>かけがえのない時間を過ごしてみませんか？</p>
      <div class="max-md:h-[64px] md:h-[90px]"></div>
    </div>
    
    <!--
    <div class="cards-container text-color text-font max-lg:gap-10">
    <a class="card-link">
      <div class="sche-card pic-image">
          <div class="sche-box">
              <div style="height: 8px;"></div>
              <h2 class="card-title">7月18日(<span style="color: #4476ff;">土</span>)</h2>
              <p class="card-description text-start">
                14:00～14:20&emsp;開会式<br>
                14:20～16:20&emsp;グループトーク<br>
                16:30～17:30&emsp;講演<br>
                19:00～21:00&emsp;夕食<br>
                21:00～&emsp;フリータイム<br></p>
          </div>
      </div>
    </a>
    <a class="card-link">
      <div class="sche-card pic-image">
          <div class="sche-box">
              <div style="height: 8px;"></div>
              <h2 class="card-title">7月19日(<span style="color: #ff4444;">日</span>)</h2>
              <p class="card-description text-start">
                7:00〜8:30&emsp;朝食<br>
                9:00～10:00&emsp;マイメッセージ<br>
                10:10～11:10&emsp;クイズ大会<br>
                11:20～11:40&emsp;閉会式<br>
                13:00～&emsp;昼食<br></p>
          </div>
      </div>
    </a>
  </div>
  -->
  <div class="reveal">
    <h1 class="headline">
      <span class="headline-bg">News</span>
      <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">最新情報</span>
    </h1>

    <div style="height: 36px;" />
    <div
        class="max-lg:p-6 lg:p-8 text-color margin-contents header_bcolor rounded-[40px] shadow-md"
        style="max-width: 900px; width: 100%;"
    >
      <!-- <span class="midashi mb-4">お知らせ</span> -->
    <ul style="margin-left: 0.25rem; margin-right: 0.25rem;">
        {
          latestPosts.map((post) => (
            <li>
              {post.frontmatter.update ? (
                <div class="update-content">
                  <a class="text-lg">{post.frontmatter.date}</a>
                  &nbsp;
                  <a class="text-lg">{post.frontmatter.update}</a>
                </div>
              ) : (
                <div class="no-update-content">
                  <a class="text-base max-lg:text-[14px]">{post.frontmatter.date}</a>
                </div>
              )}
              <a class="text-lg max-lg:text-base font-medium hover-color" href={post.url}>
                {post.frontmatter.title}
              </a>
              <br />
              <a class="text-base">{post.frontmatter.description}</a>
              <div style="height: 24px;" />
            </li>
          ))
        }
    </ul>
    <br />
    <div class="flex items-center justify-center mb-1">
      <a
        href="/posts/1"
        class="text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
               border border-black rounded-full px-4 py-1.5
               text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
      >
        すべて見る&nbsp;
        <i class="ri-arrow-right-line text-lg"></i>
      </a>
    </div>
    
    </div>
  </div>
  <div style="height: 70px;" />
  <div class="reveal">
    <h1 class="headline">
      <span class="headline-bg">About</span>
      <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">うぃーすたについて</span>
    </h1>
  </div>
  <div style="height: 36px;" />
  <div
        class="max-lg:p-6 lg:p-8 text-color margin-contents header_bcolor rounded-[40px] shadow-md"
        style="letter-spacing: .025em; line-height: 2.05; max-width: 900px; width: 100%;"
    >
    吃音やうぃーすたプロジェクト、うぃーすた全国交流会についてご紹介します。
    <div style="height: 24px;" />
  <div class="flex items-center justify-center mb-1">
    <a
      href="/about/"
      class="text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
             border border-black rounded-full px-4 py-1.5
             text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
    >
      うぃーすたについて&nbsp;
      <i class="ri-arrow-right-line text-lg"></i>
    </a>
  </div>
  </div>
    <div style="height: 70px;" />
    <div class="reveal">
      <h1 class="headline">
        <span class="headline-bg">Event</span>
        <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">中高生交流会<br>in 第8回うぃーすた全国交流会</span>
      </h1>
    </div>
    <div style="height: 36px;" />
    <div
          class="max-lg:p-6 lg:p-8 text-color margin-contents header_bcolor rounded-[40px] shadow-md"
          style="letter-spacing: .025em; line-height: 2.05; max-width: 900px; width: 100%;"
      >
      「第8回うぃーすた全国交流会」では、「全国言友会 吃音のある中高生交流会」との合同開催を予定しています！イベントの詳細については下記特設ページをご覧ください。
      <div style="height: 24px;" />
    <div class="flex items-center justify-center mb-1">
      <a
        href="/chukosei/"
        class="resp-sm-g text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
               border border-black rounded-full px-4 py-1.5
               text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
      >
        中高生交流会 in 第8回うぃーすた全国交流会 特設ページ&nbsp;
        <i class="ri-arrow-right-line text-lg"></i>
      </a>
    </div>
    <div class="flex items-center justify-center mb-1">
      <a
        href="/chukosei/"
        class="resp-sm-f text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
               border border-black rounded-full px-4 py-1.5
               text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
      >
        中高生交流会<br>in 第8回うぃーすた全国交流会 特設ページ&nbsp;
        <i class="ri-arrow-right-line text-lg"></i>
      </a>
    </div>
    </div>
      <div style="height: 70px;" />
      <div class="reveal">
        <h1 class="headline">
          <span class="headline-bg">Programs</span>
          <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">日程・プログラム</span>
        </h1>
      </div>
      <div style="height: 36px;" />
      <div
            class="max-lg:p-6 lg:p-8 text-color margin-contents header_bcolor rounded-[40px] shadow-md"
            style="letter-spacing: .025em; line-height: 2.05; max-width: 900px; width: 100%;"
        >
        日程・プログラムについてご紹介します。
        <div style="height: 24px;" />
      <div class="flex items-center justify-center mb-1">
        <a
          href="/programs/"
          class="text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
                 border border-black rounded-full px-4 py-1.5
                 text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
        >
          日程・プログラム&nbsp;
          <i class="ri-arrow-right-line text-lg"></i>
        </a>
      </div>
      </div>
        <div style="height: 70px;" />
        <div class="reveal">
          <h1 class="headline">
            <span class="headline-bg">Attentions</span>
            <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">注意事項</span>
          </h1>
        </div>
        <div style="height: 36px;" />
        <div
              class="max-lg:p-6 lg:p-8 text-color margin-contents header_bcolor rounded-[40px] shadow-md"
              style="letter-spacing: .025em; line-height: 2.05; max-width: 900px; width: 100%;"
          >
          参加における注意事項についてご説明します。よくお読みになってからご参加ください。
          <div style="height: 24px;" />
        <div class="flex items-center justify-center mb-1">
          <a
            href="/attentions/"
            class="text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
                   border border-black rounded-full px-4 py-1.5
                   text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
          >
            注意事項&nbsp;
            <i class="ri-arrow-right-line text-lg"></i>
          </a>
        </div>
        </div>
          <div style="height: 70px;" />
  <div class="reveal">
    <h1 class="headline">
      <span class="headline-bg">Archives</span>
      <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">アーカイブス</span>
    </h1>
  </div>
    <div style="height: 36px;" />
    </div>
    <div class="swiper-container-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/images/img4.jpeg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/img2.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/img3.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/img1.jpg"
            alt=""
          />
        </div>
        <div class="swiper-slide">
          <img
            src="/images/img5.jpeg"
            alt=""
          />
        </div>
      </div>
      <!-- ページネーション -->
      <div class="swiper-pagination"></div>
      <!-- 前後の矢印 -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    </div>
    <div style="height: 30px;" />
    <div class="flex items-center justify-center mb-1">
      <a
        href="/history/"
        class="text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
               border border-black rounded-full px-4 py-1.5
               text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
      >
        うぃーすた全国交流会の歴史&nbsp;
        <i class="ri-arrow-right-line text-lg"></i>
      </a>
    </div>
    <div class="margin-contents text-color zen-kaku-gothic-new" style="padding-top: 0rem;">
    <div style="height: 70px;" />
    <div class="reveal">
    <h1 class="headline">
      <span class="headline-bg">Event</span>
      <span class="max-lg:ml-6 lg:ml-8" style="display: inline-block; vertical-align: middle; padding-top: 0.5rem;">概要</span>
    </h1>
    <div style="height: 36px;" />
    <div class="max-xl:text-sm xl:text-base text-color rounded-[30px] shadow-md max-w-[900px] w-full">
      <div class="grid grid-cols-[2fr_5fr] divide-gray rounded-[30px] overflow-hidden">
        <div class="px-2 py-6 border-b border-r border-white about_color text-center">
          名称
        </div>
        <div class="px-4 py-6 about_color2 border-b border-gray text-center">
          第8回うぃーすた全国交流会
        </div>
    
        <div class="px-4 py-6 border-b border-r border-white about_color text-center">
          会場
        </div>
        <div class="px-4 py-6 about_color2 border-b border-gray text-center">
          大阪国際ユースホステル・羽衣青少年センター
        </div>
    
        <div class="px-4 py-6 bg-gray-50 border-b border-r border-white about_color text-center">
          日程
        </div>
        <div class="px-4 py-6 about_color2 border-b border-gray text-center">
          2026年7月18日(土)〜7月19日(日)
        </div>
        
        <div class="px-4 py-6 border-b border-r border-white about_color text-center">
          主催
        </div>
        <div class="px-4 py-6 about_color2 border-b border-gray text-center">
          うぃーすた全国交流会実行委員会
        </div>

        <div class="px-4 py-6 border-r border-white about_color text-center">
          共催
        </div>
        <div class="px-4 py-6 about_color2 border-b border-gray text-center">
          全国言友会 吃音のある中高生交流会
        </div>
      </div>
    </div>
    </div>
    <!--
    <div style="height: 94px;" />
    <div class="flex items-center justify-center">
      <a
        href="#page-top"
        class="text-base max-xl:text-sm flex items-center justify-center zen-kaku-gothic-new font-medium
               border border-black rounded-full px-4 py-2.5
               text-gray-800 hover:bg-red-700 hover:text-white transition-colors duration-200"
      >
      <i class="ri-arrow-turn-forward-line" style="font-size: 20px;"
        ></i>&nbsp;&nbsp;トップに戻る</a
      >
    </div>
  -->

    <div style="height: 80px;" />
  </div>

</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script>
  const revealElements = document.querySelectorAll('.reveal');

const io = new IntersectionObserver((entries, observer) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('is-visible');
      // 一度だけアニメーションさせるなら unobserve（コメントアウトすると何度でも発火）
      observer.unobserve(entry.target);
    } else {
      // もしスクロールで再度非表示→再表示したいならこの行を有効化
      // entry.target.classList.remove('is-visible');
    }
  });
}, {
  threshold: 0.15,           // 15% 見えたら発火
  rootMargin: '0px 0px -10% 0px' // 少し早めに発火させたい場合
});

revealElements.forEach(el => io.observe(el));

const contactButton = document.getElementById('contactButton');

const minThreshold = 100; // このpxを超えたら表示開始
const maxThreshold = 1400; // このpxを超えたら非表示

// 初期状態は非表示
contactButton?.classList.add('opacity-0', 'pointer-events-none');

window.addEventListener('scroll', () => {
  const scrollY = window.scrollY;

  if (scrollY > minThreshold && scrollY < maxThreshold) {
    // 表示
    contactButton?.classList.remove('opacity-0', 'pointer-events-none');
    contactButton?.classList.add('opacity-100');
  } else {
    // 非表示
    contactButton?.classList.add('opacity-0', 'pointer-events-none');
    contactButton?.classList.remove('opacity-100');
  }
});

</script>

<script>
  // @ts-ignore
  import Swiper from 'swiper';
  // @ts-ignore
  import { Navigation, Pagination, Autoplay, EffectFade } from 'swiper';
  import 'swiper/swiper-bundle.css';

  export const swiperConfig = {
    modules: [Autoplay, Navigation, Pagination, EffectFade],
  loop: true, // ループ
  speed: 3000, // 少しゆっくり(デフォルトは300)
  slidesPerView: 1.1, // 一度に表示する枚数
  spaceBetween: 15, // スライド間の距離
  preloadImages: true,
  centeredSlides: true, // アクティブなスライドを中央にする
  autoplay: {
    // 自動再生
    delay: 3000, // 1秒後に次のスライド
    disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
  },
  // ページネーション
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  // 前後の矢印
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  breakpoints: {
    640: {  // 画面幅 >= 640px
      slidesPerView: 1.5,
      spaceBetween: 20,
    }
  }
};

new Swiper('.swiper', swiperConfig);

const buttons = document.querySelectorAll('.swiper-button-prev, .swiper-button-next');

buttons.forEach(btn => {
  btn.addEventListener('touchstart', () => {
    btn.classList.add('touch-hover'); // タップ開始で拡大
  });
  btn.addEventListener('touchend', () => {
    btn.classList.remove('touch-hover'); // タップ終了で戻す
  });
});


</script>